<form>
    <div class="field is-horizontal">
        <div class="field-body">

            <div class="field is-narrow">
                <p class="control">
                    <input type="number" class="input amount" placeholder="Amount"/>
                </p>
            </div>

            <div class="field is-narrow">
                <p class="control">
                    <input type="text" class="input desc" placeholder="Description"/>
                </p>
            </div>

            <div class="field">
                <button class="button is-primary"> Add</button>
            </div>
        </div>
    </div>
</form>
