<div class="selection">
    <div class="container">

        <div class="income-col">
            <h1>Income</h1>

            <!-- Here a is used for access because we used the name "a" for the input variable in the add-item-form file. -->
            <div class="budget-items">
                <div *ngFor = "let item of budgetItems">
                 <app-budget-item-card
                    *ngIf="item.amount > 0"
                    [item]="item"
                    (xClick)="onDelete(item)"
                 ></app-budget-item-card>
                </div>
            </div>
        </div>

        <div class="expense-col">
            <h1>Expenses</h1>
            
             <div class="budget-items"> 
                <div *ngFor="let item of budgetItems">
                    <app-budget-item-card
                        *ngIf="item.amount <0"
                        [item]="item"
                        (xClick)="onDelete(item)"
                    ></app-budget-item-card>
                </div>
            </div>
        </div>
    </div>
</div>