<!-- Basic top bar -->
<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<!-- Views total budget -->
<div class="budget-total">
    <h2 [ngClass]="{'red': totalSum<0, 'green': totalSum>=0  }">{{totalSum}}</h2>
</div>

<!-- Add/ Delete new transactions -->
<div class="add-item-section">
    <div class="add-item-container">
        <!-- catches event from item form and submits the event to the model. -->
        <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
</div>

<hr style="margin-top:10;"/>

<!-- Budget data -->
<app-budget-item-list 
    [budgetItems]="budgetItems"
    (delete)="deleteItem($event)"
    >
</app-budget-item-list>